#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    chosen {
        zephyr,canbus = &mcp2515;
    };

    zephyr,user {
        gps-pwr-gpios = <&gpiob 6 GPIO_ACTIVE_HIGH>;
        gps-wup-gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;
        can-rst-gpios = <&gpiob 3 GPIO_ACTIVE_LOW>;
    };
};

/*
 * PA11/PA12 are used by the external MCP2515
 * as CS and INT, so disable STM32's internal CAN.
 */
&can1 {
    status = "disabled";
};

/*
 * CAN SPI Click
 *
 * SCK  -> PB13
 * MISO -> PB14
 * MOSI -> PB15
 * CS   -> PA11
 * INT  -> PA12
 */
&spi2 {
    pinctrl-0 = <
        &spi2_sck_pb13
        &spi2_miso_pb14
        &spi2_mosi_pb15
    >;

    pinctrl-names = "default";

    cs-gpios = <&gpioa 11 GPIO_ACTIVE_LOW>;

    status = "okay";

    mcp2515: can@0 {
        compatible = "microchip,mcp2515";

        reg = <0>;

        spi-max-frequency = <1000000>;

        osc-freq = <10000000>;

        int-gpios = <&gpioa 12 GPIO_ACTIVE_LOW>;

        status = "okay";
    };
};

/*
 * Nano GPS Click
 *
 * GPS TX -> PA10 / USART1 RX
 * GPS RX -> PA9  / USART1 TX
 */
&usart1 {
    pinctrl-0 = <
        &usart1_tx_pa9
        &usart1_rx_pa10
    >;

    pinctrl-names = "default";

    current-speed = <4800>;

    status = "okay";

    gps: gnss-nmea-generic {
        compatible = "gnss-nmea-generic";
        status = "okay";
    };
};